:root {
  --fontSizeBase: 100%;

  --fontFamilyBase: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --fontFamilyMonospace: Monaco, Consolas, "Dejavu Mono", monospace;

  --fontWeightBase: 400;
  --fontWeightBold: 700;

  --lineHeightBase: 2;
}
