/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

:root {
  --fontSizeBase: 100%;

  --fontFamilyBase: "system";
  --fontFamilyMonospace: Monaco, Consolas, "Dejavu Mono", monospace;

  --fontWeightBase: 400;
  --fontWeightBold: 700;

  --lineHeightBase: 2;
}
