doctype html

- env = htmlWebpackPlugin.options.environment

html(lang= "en")
  head
    title= htmlWebpackPlugin.options.title
    meta(http-equiv="Content-type", content="text/html; charset=utf-8")

  body
    #page
      h1= htmlWebpackPlugin.options.title
      img(src="/assets/images/sample_image.png")

    if (env === "development")
      small — dev mode
