@import "normalize.css";

@import "1-settings/base.css";
@import "1-settings/typography.css";

@import "4-elements/body.css";
@import "4-elements/link.css";
@import "4-elements/page.css";
@import "4-elements/table.css";

* {
  box-sizing: border-box;
}

.c-app-container {
  padding: 3rem 1.5rem;
  display: grid;
  max-width: 35rem;
  height: 100%;
  margin: 0 auto;
  grid-template-rows: 20% auto;
  justify-items: stretch;
}

.c-app-title {
  font-size: 1.25rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  font-weight: 200;
  letter-spacing: .15rem;
  font-variant: all-small-caps;
}

.c-app-content {
  height: 100%;
}

.c-game-board {
  height: 100%;
  display: grid;
  grid-template-rows: auto 10%;
}

.c-game-board-setup {
  display: grid;
  grid-template-columns: 62% 14% auto;
  grid-column-gap: .25rem;
}

.c-game-board-guess-input-field {
  display: grid;
  grid-template-columns: 20% 55% auto;
  grid-column-gap: .25rem;
}

.c-game-board-finished {
  display: grid;
  grid-template-columns: 68% auto;
}

.c-game-board-guesses {
  margin-top: 3rem;
}

.c-input,
.c-select {
  height: 2rem;
  border-radius: 0;
  padding: 0 .5rem;
  background-color: var(--backgroundColorBase);
  border: 1px solid var(--colorGray);
  font-family: var(--fontFamilyMonospace);
  line-height: var(--lineHeightBase);

  &:focus {
    outline: none;
  }
}

.c-select {
  appearance: none;
  padding: 0 1.5rem 0 .5rem;

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAYCAYAAAC8/X7cAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADQSURBVFiF1c+7ccMwFEXBZS0oUqGgzE2+WqzE9li2KOIrkncGAZDg7BIRF3w45/ICJ0XklNJt+b6dDJFTSjdYfr+eBPETzx8Ah0c8xPMEwGER/+JZAXA4xNN4XgA4DGI1ng0AuyNexlMAYDfEZjyFAN6OKIqnAsDbEMXxVAKYjqiKpwHANER1PI0AhiOa4ukAMAzRHE8ngG5EVzwDADQjuuMZBKAaMSSegQCKEcPiGQxgEzE0ngkAVhHD46cuIi4R8fl1rnv3NC0ickTkmX/cAeicgKu/i7a4AAAAAElFTkSuQmCC");

  background-repeat: no-repeat;
  background-position: right .25rem center;
  background-size: .5rem .35rem;

  cursor: pointer;
}

.c-button {
  height: 2rem;
  background-color: var(--backgroundColorBase);
  appearance: none;
  padding: 0 .5rem;
  border-radius: 0;
  border: none;
  border: 1px solid var(--colorGray);
  cursor: pointer;
  color: var(--colorLink);
  outline-width: thin;

  font-weight: var(--fontWeightBold);

  transition: color .2s ease-in-out, background-color .2s ease-in-out;

  &:hover {
    background-color: var(--colorLink);
    color: var(--backgroundColorBase);
    border-color: var(--colorLink);
  }

  &[disabled] {
    color: var(--colorGray);
    cursor: not-allowed;
    border: none;
    box-shadow: none;

    &:hover{
      background-color: var(--backgroundColorBase);
    }
  }
}

.c-app-footer {
  border-top: 1px solid var(--colorGray);
  align-self: end;
}

.c-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.c-nav-list__item {
  margin: 0 1.5rem 0 0;
  padding: 0;
  display: inline-block;
}

[v-cloak] {
  display: none;
}

.u-txt--monospace {
  font-family: var(--fontFamilyMonospace);
}

.u-align--right {
  text-align: right;
}

.u-fill {
  width: 100%;
}
