/* stylelint-disable selector-max-type */
a {
  font-weight: var(--fontWeightBold);
  color: var(--colorLink);
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--colorBase);
  }
}
