/* stylelint-disable selector-max-type */
html {
  height: 100%;
  min-height: 100%;

  overflow-y: scroll;

  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeBase);
  font-weight: var(--fontWeightBase);
  line-height: var(--lineHeightBase);

  color: var(--colorBase);
  background-color: var(--backgroundColorBase);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* stylelint-disable plugin/no-unsupported-browser-features */
  text-size-adjust: 100%;
}
