table {
  border-collapse: collapse;
}

thead {
  box-shadow: 0 1px 0 0 var(--colorGray);
}

td,
th {
  padding: 0;
  text-align: left;
}

td {
  padding: .75rem 0 .25rem;
  font-size: .75em;
  line-height: 1;
}

th {
  font-weight: var(--fontWeightBase);
  font-variant: all-small-caps;
}
