.c-game-board {
  height: 100%;
  display: grid;
  grid-template-rows: auto 10%;
}

.c-game-board-setup {
  display: grid;
  grid-template-columns: 62% 14% auto;
  grid-column-gap: .25rem;
}

.c-game-board-guess-input-field {
  display: grid;
  grid-template-columns: 20% 55% auto;
  grid-column-gap: .25rem;
}

.c-game-board-finished {
  display: grid;
  grid-template-columns: 68% auto;
}

.c-game-board-guesses {
  margin-top: 3rem;
}
